/Modulo 21/Redimensionando uma imagem/node_modules
/Modulo 21/comprimindo imagens/node_modules
/Modulo 22/instalando express/node_modules
/Modulo 22/Arquivos Estáticos com Express/node_modules
/Modulo 22/Express - Get/node_modules
/Modulo 22/Post, Put, Delete/node_modules
/Modulo 22/Insomnia - Rest Client/node_modules
/Modulo 22/HTTP request/node_modules
/Modulo 22/HTTP response/node_modules
/Modulo 22/Middleware/node_modules
/Modulo 22/Rotas/node_modules